<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InstanceStoreConnectionString" value="Server=TRUONGLE;Initial Catalog=TestMVCWorkflow;Trusted_Connection=True;" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>